html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Manrope;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c4c5c6;
}

::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}

/* header */

.header {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.onaidocs-logo {
  width: 175px;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  margin-right: 37px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
}

li:last-child {
  margin-right: 0;
}

li:hover {
  color: #0080ff;
  text-decoration: underline;
  cursor: pointer;
}

.login-btn {
  padding: 14px 30px;
  color: #0080ff;
  border: 2px solid #0080ff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  border-radius: 8px;
}

.header-menu {
  display: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #ffffff;
}

header.shadow {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* main */

.page-1,
.page-2,
.page-4 {
  width: 100%;
  max-width: 1440px;
  margin: 100px auto 0 auto;
  text-align: center;
}

.page-1 {
  margin: 180px auto 0 auto;
}

.page-1-title {
  width: 100%;
  max-width: 945px;
  font-size: 50px;
  line-height: 55px;
  font-weight: 600;
  color: #000000;
  margin: 0 auto;
}

.page-1-text {
  width: 100%;
  max-width: 795px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
  margin: 40px auto;
}

.submit-application {
  padding: 14px 30px;
  background-color: #0080ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.screen-onaidocs {
  margin: 40px auto 0 auto;
}

.screen-onaidocs-mobile {
  display: none;
}

/* page 2 */
.page-2-title {
  text-align: justify;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 50px;
}

.page-2-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.third {
  width: 100%;
  max-width: 467px;
  padding: 0 30px 20px 30px;
}

.two-thirds {
  width: 100%;
  max-width: 953px;
}

.two-thirds-content {
  padding: 0 30px;
}

.block {
  display: flex;
  align-items: end;
  height: 577px;
  background-color: #f8f9fc;
  margin-bottom: 20px;
  border-radius: 16px;
  text-align: left;
}

.gradient-top-left {
  background: linear-gradient(135deg, #e9f4f8 0%, #f8f9fc 100%);
}

.gradient-bottom-right {
  background: linear-gradient(315deg, #e9f4f8 0%, #f8f9fc 100%);
}

.gradient-bottom-left {
  background: linear-gradient(45deg, #e9f4f8 0%, #f8f9fc 100%);
}

.block-icon {
  width: 50px;
  margin-bottom: 16px;
}

.block-icon img {
  width: 50px;
}

.block-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #0080ff;
  margin-bottom: 16px;
}

.block-text {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 20px;
}

.block-screen-content {
  display: flex;
  margin-left: 30px;
}

.screen-content-vector {
  margin: 0 20px 0 30px;
}

.vector-mobile {
  display: none;
}

.screen-content-img {
  display: flex;
}

/* page 3 */

.page-3 {
  width: 100%;
  margin-top: 100px;
  background-image: linear-gradient(
    135deg,
    #75cee72b,
    #f8f9fc,
    #f8f9fc,
    #f8f9fc,
    #f8f9fc
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-3-content {
  width: 100%;
  max-width: 610px;
  margin: 208px 80px;
}

.content-info {
  width: fit-content;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 15px;
  background-color: #0080ff;
}

.page-3-content-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 20px 0;
}

.page-3-content-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

/* page 4 */

.page-4-content {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-4-content div {
  width: 710px;
  height: 340px;
  text-align: left;
  margin-bottom: 20px;
}

.page-4-content-title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 20px;
}

.page-4-content-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.page-4-block {
  background-color: #f8f9fc;
  padding: 50px 20px 30px 16px;
  border-radius: 16px;
}

.page-4-block-number {
  font-size: 50px;
  font-weight: 600;
  line-height: 65px;
  color: #000000;
}

.page-4-block-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000;
  margin: 20px 0;
}

.page-4-block-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  margin-bottom: 20px;
}

/* footer */

.footer {
  width: 100%;
  margin-top: 100px;
  background-color: #0080ff;
  padding: 100px 80px;
}

.footer-content {
  display: flex;
}

.footer-left {
  color: #ffffff;
  width: 50%;
}

.footer-title {
  font-size: 70px;
  line-height: 91px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 38px;
}

.footer-left-text {
  width: 660px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 24px;
}

.footer-left-text-mobile {
  display: none;
}

.footer-left-address {
  margin-bottom: 24px;
}

.address-title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 6px;
}

.address-info {
  font-size: 24px;
  line-height: 33px;
  font-weight: 500;
  color: #fff;
}

.reserved {
  margin-top: 48px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.reserved span {
  margin-right: 16px;
}

.footer-right {
  width: 50%;
}

/* form {
  margin-top: 130px;
} */

textarea,
.form-input {
  font-family: Open Sans;

  width: 710px;
  color: #212b36;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 18px 14px;
  border-radius: 4px;
  border: none;
  resize: none;
}

textarea {
  height: 150px;
}

textarea:focus-visible,
input:focus-visible {
  outline: none;
}

.form-input {
  margin-bottom: 20px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
}

.form-btn {
  padding: 14px 60px;
  background-color: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  border: none;
  color: #0080ff;
  cursor: pointer;
}

/* custom checkbox */
.checkbox-input {
  display: none;
}

.checkbox-label {
  height: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-label div {
  width: 15px;
  height: 15px;
  display: block;
  position: relative;
  border: 1px solid #fff;
  text-align: center;
  margin-right: 10px;
}

.checkbox-label div span {
  opacity: 0;
}

.checkbox-input:checked + .checkbox-label div span {
  position: absolute;
  top: -4px;
  left: 2px;
  opacity: 1;
  color: #000000;
  font-size: 12px;
}

.checkbox-input:checked + .checkbox-label div {
  background-color: #fff;
}

.mobile-menu {
  position: absolute;
  visibility: hidden;
  top: 70px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #fff;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out,
    visibility 0s 0.4s;
  transform: translateX(-100%);
}
.mobile-menu.active {
  visibility: visible;
  opacity: 1;
  text-align: left;
  padding: 20px;
  transform: translateX(0);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out,
    visibility 0s;
}

.mobile-menu-actions {
  display: block;
  width: fit-content;
  text-align: left;
  height: 80vh;
}

.mobile-menu-actions li {
  margin-bottom: 20px;
}

/* media queries */

@media (max-width: 752px) {
  header {
    width: 100%;
    height: 70px;
    padding: 0 20px;
  }

  .header-action {
    display: none;
  }

  .header-menu {
    display: block;
    cursor: pointer;
  }

  .header-menu img {
    width: 32px;
  }

  .page-1 {
    width: 100%;
    margin: 90px auto 0 auto;
    text-align: center;
  }

  .page-2,
  .page-4 {
    width: 100%;
    max-width: 355px;
    margin: 100px auto 0 auto;
    text-align: center;
  }

  .page-1-title {
    width: 100%;
    font-size: 26px;
    line-height: 29px;
    font-weight: 600;
  }

  .page-1-text {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 20px auto;
  }

  .submit-application {
    font-size: 16px;
    line-height: 22px;
  }

  .screen-onaidocs {
    display: none;
  }

  .screen-onaidocs-mobile {
    display: block;
    margin: 20px auto 0 auto;
  }

  .page-2-title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
  }

  .page-2-content {
  }

  .page-2-content .block {
    width: 100%;
    max-width: 355px;
    margin-bottom: 20px;
    height: 100%;
  }

  .block-icon,
  .block-icon img {
    width: 36px;
  }

  .block-icon {
    margin: 40px 0 0 0;
  }

  .block-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin: 20px 0;
  }

  .block-text {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    max-width: 315px;
  }

  .two-thirds-content {
    padding: 20px;
  }

  .block-screen-content {
    display: block;
    position: relative;
    margin: 0 auto;
  }

  .screen-content-vector {
    position: absolute;
    top: -85px;
    right: 30px;
  }

  .vector {
    display: none;
  }

  .vector-mobile {
    display: block;
  }

  .screen-content-img {
    width: 325px;
    height: 351px;
    overflow: hidden;
    margin: 0 auto;
  }

  .page-3 {
    display: block;
  }

  .page-3-content {
    width: 100%;
    max-width: 355px;
    padding: 50px 20px 0 20px;
    margin: 0;
  }

  .page-3-content-text {
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
  }

  .page-3-img {
    width: 315px;
    margin: 0 auto;
    overflow: hidden;
  }

  .page-3-img img {
    width: 315px;
  }

  .page-4-content div {
    width: 100%;
    height: 100%;
    max-width: 355px;
    margin-bottom: 20px;
  }

  .page-4-content-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .page-4-block {
    padding: 40px 20px 20px 16px;
  }

  .page-4-block-number {
    font-size: 40px;
    line-height: 52px;
  }

  .page-4-block-title {
    font-size: 20px;
    line-height: 26px;
    margin: 20px 0;
  }

  .page-4-block-text {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
  }

  .footer {
    width: 100%;
    max-width: 752px;
    display: block;
    padding: 40px 20px;
    border-radius: 16px 16px 0 0;
  }

  .footer-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-left {
    width: 100%;
  }

  .footer-title {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 30px;
  }

  .footer-left-text-mobile {
    display: block;
    color: #ffffff;
    width: 100%;
    font-size: 16px;
    line-height: 140%;
    margin: 30px 0;
  }

  .footer-left-text {
    display: none;
  }

  .footer-right {
    width: 100%;
  }

  textarea,
  .form-input {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding: 14px;
  }

  .checkbox-label {
    height: 40px;
    display: flex;
    align-items: center;
  }

  .form-checkbox {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
  }

  .form-btn {
    margin-bottom: 30px;
  }

  .address-title {
    font: 14px/20px Open Sans;
  }

  .address-info {
    font: 20px/28px Open Sans;
    font-weight: 500;
  }

  .reserved {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }

  .reserved span {
    margin-right: 10px;
  }

  .mobile-menu-btn {
    transition: transform 0.5s;
    padding: 6px 4px;
  }

  .mobile-menu-btn .line {
    border-top: 2px solid #000;
    display: block;
    transition: margin 0.5s, transform 0.5s;
    width: 24px;
  }

  .mobile-menu-btn .line-2 {
    margin: 5px 0;
  }

  .mobile-menu-btn .line-4 {
    margin-top: 5px;
  }

  .mobile-menu-btn.toggle .line-1 {
    transform: rotate(45deg);
    margin-bottom: 2px;
  }

  .mobile-menu-btn.toggle .line-2 {
    margin: -3px 0;
    opacity: 0;
  }

  .mobile-menu-btn.toggle .line-4 {
    margin: -3px 0;
    opacity: 0;
  }

  .mobile-menu-btn.toggle .line-3 {
    transform: rotate(-45deg);
  }

  .mobile-menu-3 {
    transition: transform 0.5s;
  }

  .mobile-menu-3.toggle {
    transform: rotateY(180deg);
  }
}
